{% extends 'layout.html' %}
{% from "_formhelpers.html" import render_field %}
{% set page_name = 'signup' %}
{% block content %}
    {% include 'flashmessages.html' %}

    <div class="flex h-minus-nav">
        {% include 'sidebar_settings.html' %}


        <div class="overflow-y-auto flex-auto">
            <div class="container-full m-t-30 m-b-40">
                <h2>Your Profile</h2>


                <br>
                <form method="POST" action="{{ url_for('auth.change_password') }}">

                    {{ form.csrf_token }}



                    {{ render_field(form.old_password) }}
                    {{ render_field(form.new_password) }}
                    {{ render_field(form.repeat_password) }}



                    <div class="input-group responsive m-t-40">
                        <button class="button is-solid m-r-10" type="submit" value="Update">Save Changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>



{% endblock %}
