{% extends 'layout.html' %}
{% from "_formhelpers.html" import render_field %}
{% block content %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}
            <div class="alert is-inline has-bg-{{ category }}">
                <p class="is-bold">{{ message }}</p>
            </div>
        {% endfor %}
    {% endwith %}

    <div class="flex h-minus-nav">
        <div class="tabs is-primary is-vertical hide-tablet-down">
            <ul>
                <li class="is-active"><a>Sign Up</a></li>
                <li ><a href="{{ url_for('auth.login') }}">Login</a></li>
            </ul>
        </div>



        <div class="overflow-y-auto flex-auto">
            <div class="container-full m-t-30 m-b-40">
                <h2>Create Your Free Account</h2>


                <br>
                <form method="POST" action="{{ url_for('auth.signup') }}">

                    {{ form.csrf_token }}

                    <div class="input-group responsive m-b-30">
                        {{ form.user_type.label }}
                        <div class="radio m-r-20">
                            <input type="radio" value="C" name="user_type" id="radio-sample-a"/>
                            <label for="radio-sample-a">Customer</label>
                        </div>
                        <br>
                        <div class="radio">
                            <input type="radio" value="A" name="user_type" id="radio-sample-b"/>
                            <label for="radio-sample-b">Administrator</label>
                        </div>
                    </div>


                    {{ render_field(form.first_name) }}
                    {{ render_field(form.last_name) }}
                    {{ render_field(form.email) }}
                    {{ render_field(form.DOB) }}
                    {{ render_field(form.password) }}
                    {{ render_field(form.password_repeat) }}

                    <div class="input-group responsive m-b-30">
                        {{ form.country.label }}
                        <div class="input has-arrow">
                            <select id="country" name="country" required type="text">
                                {% include 'countrylist.html' %}
                            </select>
                        </div>
                    </div>


                    <div class="input-group responsive m-t-40">
                            <button class="button is-solid m-r-10" type="submit" value="Sign up">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>



{% endblock %}
