<nav class="nav">
    <div class="nav-left">

        <img class="nav-brand" src="{{ url_for('static', filename='images/biglogo.png') }}" alt=""/>
        <div class="float-right hide-small-desktop-up">
            {% if current_user.is_anonymous %}
                <div></div>
            {% else %}
                <a class="nav-item" href="{{ url_for('main.index') }}">
                    <i class="d-icon d-home-solid"></i>
                </a>

                <div class="menu menu--nav is-right">
                    <div class="nav-item menu-trigger"
                    ><i class="d-icon d-chart-area"></i>
                    </div>
                    <div class="menu-content">
                        <a href="{{ url_for('main.eruption_numbers') }}">Volcanoes on the World Map</a>
                        <a href="{{ url_for('main.yearly_data') }}">Yearly Data</a>
                        <a href="{{ url_for('main.for_countries') }}">Data for Individual Countries</a>
                        <a href="{{ url_for('main.population') }}">Risk to the Population</a>
                    </div>
                </div>

                {% if current_user.user_type == 'admin' %}
                    <div class="menu menu--nav is-right">
                        <div class="nav-item menu-trigger"
                        ><i class="d-icon d-file-edit-solid"></i>
                        </div>
                        <div class="menu-content">
                            <a href="{{ url_for('auth.admin') }}">User Management</a>
                            <a href="{{ url_for('auth.admin_requests') }}">Admin Requests</a>
                            <a href="{{ url_for('auth.change_password') }}">New Eruptions</a>
                        </div>
                    </div>

                    <a class="nav-item is-bold is-green-500">
                        <i class="d-icon d-security-verified-solid"></i>
                    </a>
                {% elif current_user.user_type == 'A' %}
                    <a class="nav-item is-bold is-yellow-500">
                        <i class="d-icon d-security-verified-solid"></i>
                    </a>
                {% endif %}

                <div class="menu menu--nav is-right">
                    <div class="nav-item menu-trigger">
                            <i class="d-icon d-user-profile-circle"></i>
                    </div>
                    <div class="menu-content">
                        <a href="{{ url_for('auth.update') }}">Profile</a>
                        <a href="{{ url_for('auth.change_password') }}">Change Password</a>
                        <a href="{{ url_for('auth.delete_account') }}">Delete Account</a>
                        <a href="{{ url_for('auth.logout') }}">Logout</a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    {% if current_user.is_anonymous %}
        <div></div>
    {% else %}
        <div class="nav-responsive" id="navMenuContent">
            <div class="nav-center">
                <a class="nav-item" href="{{ url_for('main.index') }}">
                    <i class="d-icon d-home-solid"></i> Home
                </a>
                <a class="nav-item" href="{{ url_for('main.eruption_numbers') }}">
                    <i class="d-icon d-chart-area"></i> Eruptions Data
                </a>
                {% if current_user.user_type == 'admin' %}
                    <a class="nav-item" href="{{ url_for('auth.admin') }}">
                        <i class="d-icon d-file-edit-solid"></i> Manage Website
                    </a>
                {% endif %}
            </div>
            <div class="nav-right">
                {% if current_user.user_type == 'admin' %}
                    <a class="nav-item is-bold is-green-500">
                        <i class="d-icon d-security-verified-solid"></i> Admin
                    </a>
                {% elif current_user.user_type == 'A' %}
                    <a class="nav-item is-bold is-yellow-500">
                        <i class="d-icon d-security-verified-solid"></i> Pending
                    </a>
                {% endif %}
                <div class="menu menu--nav is-right">
                    <div class="nav-item menu-trigger">
                            {{ current_user.first_name }} <i class="d-icon d-user-profile-circle"></i>
                    </div>
                    <div class="menu-content">
                        <a href="{{ url_for('auth.update') }}">Account Settings</a>
                        <a href="{{ url_for('auth.logout') }}">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</nav>