{% extends 'layout.html' %}
{% from "_formhelpers.html" import render_field %}
{% set page_name = 'signup' %}
{% block content %}
    {% include 'flashmessages.html' %}

    <div class="flex h-minus-nav">
        {% include 'sidebar_auth.html' %}


        <div class="overflow-y-auto flex-auto">
            <div class="container-full m-t-30 m-b-40">
                <h2>Create Your Free Account</h2>


                <br>
                <form method="POST" action="{{ url_for('auth.signup') }}">

                    {{ form.csrf_token }}

                    <div class="input-group responsive m-b-30">
                        {{ form.user_type.label }}
                        <div class="radio m-r-20">
                            <input type="radio" value="C" name="user_type" id="radio-sample-a"/>
                            <label for="radio-sample-a">Customer</label>
                        </div>
                        <br>
                        <div class="radio">
                            <input type="radio" value="A" name="user_type" id="radio-sample-b"/>
                            <label for="radio-sample-b">Administrator</label>
                        </div>
                    </div>
                    {% if form.user_type.errors %}
                        <div class="input-group responsive m-b-30">

                            <label class="is-red-500">
                                {% for error in form.user_type.errors %}
                                    *{{ error }}
                                {% endfor %}
                            </label>
                        </div>
                    {% endif %}


                    {{ render_field(form.first_name) }}
                    {{ render_field(form.last_name) }}
                    {{ render_field(form.DOB) }}
                    {{ render_field(form.email) }}
                    {{ render_field(form.username) }}
                    {{ render_field(form.password) }}
                    {{ render_field(form.password_repeat) }}

                    <div class="input-group responsive m-b-30">
                        {{ form.country.label }}
                        <div class="input has-arrow">
                            <select id="country" name="country" required type="text">
                                <option value="" disabled selected>Select a country</option>
                                {% include 'countrylist.html' %}
                            </select>
                        </div>
                    </div>


                    <div class="input-group responsive m-t-40">
                        <button class="button is-solid m-r-10" type="submit" value="Sign up">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>



{% endblock %}
